<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Diabetes Detection</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'> 
<link href='https://fonts.googleapis.com/css?family=Times+new+roman+Condensed:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  

<style>
.login{
top: 20%;
}
body {
  background-color:  #BDD8CF;
}
input, select {
  width: 500px;
  height: 25pt;
  color: #000;
  background-color:paleturquoise;
}

button{
  width: auto;
  height: 30pt;
  background-color: #000;
  color: white;
  font-size:medium;
}

</style>
</head>

</p>
</a>

<body>
 <div class="login">
  
	<h2 style="color:#000;text-align:center;">Prediction of Diabetes</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('y_predict')}}"method="post">
      <input type="number" name="Age" placeholder="Enter your Age" required="required" /> 
      
     <select name="Gender" required="required"> -->
		 <option value="" disabled selected>Select Gender </option>-->
		<option value="1">Male</option> -->
		<option value="0">Female</option>-->
		<!--  <option value="New York">New York</option> -->
		</select>
    <br>

    <select name="Polyuria" required="required"> --> 
      <option value="" disabled selected>Do you urinate excessively?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select>
     <br>
     
     <select name="Polydipsia" required="required"> -->
      <option value="" disabled selected>Do you feel abnormally thirsty?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
    
     <select name="sudden weight loss" required="required"> -->
      <option value="" disabled selected>Have you experienced sudden weight loss recently?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
    

     <select name="weakness" required="required"> -->
      <option value="" disabled selected>Do you feeling weak or fatigued often?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
  

     <select name="Polyphagia" required="required"> -->
      <option value="" disabled selected>Do you eat excessively?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
     

     <select name="Genital thrush" required="required"> -->
      <option value="" disabled selected>Do you have any infections, especially near your genitals and/or mouth?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
    
     <select name="visual blurring" required="required"> -->
      <option value="" disabled selected>Do you feel like your vision has blurred recently?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
    

     <select name="Itching" required="required"> -->
      <option value="" disabled selected>Do you face localized and severe itching anywhere on your body?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
     
     <select name="Irritability" required="required"> -->
      <option value="" disabled selected>Do you feel like you have low mood and are irritable?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
     
     <select name="delayed healing" required="required"> -->
      <option value="" disabled selected>Do you feel that your recent wounds have healed slowly or not healed at all?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
     

     <select name="partial paresis" required="required"> -->
      <option value="" disabled selected>Have you recently experienced weakening of muscles or a group of muscles?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
     

     <select name="muscle stiffness" required="required"> -->
      <option value="" disabled selected>Have you recently experienced cramps, join pains or painful walking?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select>
     <br> 
    

     <select name="Alopecia" required="required"> -->
      <option value="" disabled selected>Have you recently experienced any hair loss?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
     

     <select name="Obesity" required="required"> -->
      <option value="" disabled selected>Are you obese?</option>-->
     <option value="1">Yes</option> -->
     <option value="0">No</option>-->
     </select> 
     <br>
  
     
		
        <button style="margin-left: 30%;" type="submit">Diabetes Prediction</button>
    
    </form>

   <br>
  
   {{ prediction_text }}
   
 </div>


</body>
</html>